.home-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.verset {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.5rem;
}

.cita {
  margin-top: 0;
  font-size: 1.5rem;
}
