.home-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.button {
  border: 0;
  padding: 0.5rem 1rem;
  margin: 0.125rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  border-radius: 0.5rem;
  background-color: rgb(112, 105, 89);
  cursor: pointer;
}

.icon {
  width: 2rem;
}

.title {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.title-text {
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.75rem;
}

.verset {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.5rem;
}

.cita {
  margin-top: 0;
  font-size: 1.5rem;
}
